PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL=mongodb://127.0.0.1:27017/query_management_system

EMAIL_TRANSPORT=mock
IPC_QUERY_EMAIL=ipc-query-mock@example.com
IPC_ACK_FROM_EMAIL=arnd-ipc-mock@example.com
IPC_ACK_FROM_NAME=AR&D Division

INQUIRER_EMAIL=abhinash.pritiraj@gmail.com
INQUIRER_NAME=Abhinash Pritiraj

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground
